body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
section {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin: 0 auto;
  padding-top: 30px;
  background-color: transparent;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation-list {
  display: block;
  margin-bottom: 50px;
}
.header-navigation-page {
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
.header-navigation-page:hover, .header-navigation-page:focus {
  color: #ff6b09;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo {
  display: block;
}
.header-logo.menu-logo {
  position: absolute;
  top: -78px;
  left: 0px;
  z-index: 20;
}
.header-logo.menu-logo .header-logo-name, .header-logo.menu-logo .header-logo-description {
  color: #ffffff;
}
.header-logo-main {
  display: flex;
  margin-bottom: 4px;
}
.header-logo-name {
  display: block;
  font-style: normal;
  font-weight: 800;
  line-height: 1.333;
  color: #111518;
}
.header-logo-name:visited {
  color: #111518;
}
.header-logo-first {
  width: 35px;
}
.header-logo-second {
  width: 24px;
}
.header-logo-description {
  display: block;
  height: 6px;
  width: 80px;
  color: #111518;
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}
.header-logo-description:visited {
  color: #111518;
}
.header-logo-description-first {
  color: #ff6b09;
}
.header-logo-fire {
  width: 14px;
  height: 20px;
  margin: 0 4px;
}
.header-menu-button {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  z-index: 20;
  width: 20px;
  height: 12px;
  border: none;
  background-color: transparent;
}
.header-menu-button:hover, .header-menu-button:focus {
  fill: #ff6b09;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-button .header-icon-close {
  display: none;
}
.header-menu-button.is-open .header-icon-close {
  display: block;
}
.header-menu-button.is-open .header-icon-menu {
  display: none;
}
.header-icon {
  display: block;
  height: 15px;
  z-index: 10;
  fill: black;
}
@media screen and (max-width: 1343px) {
  .header-menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 108px 20px 0px 20px;
    overflow-y: scroll;
    z-index: 1;
    background-color: rgba(17, 21, 24, 0.9);
  }
  .header-menu-container.is-open {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header-menu-container {
    padding: 108px 0px 0px 0px;
  }
}
.header-menu-wrapper {
  position: relative;
  max-width: 280px;
  padding: 0px;
}
.header-button {
  width: 260px;
  height: 48px;
  margin: 0 10px;
  color: #ff6b09;
  background-color: transparent;
  border: 2px solid #ff6b09;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.header-button:hover, .header-button:focus {
  color: #ffffff;
  background-color: #ff6b09;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-button.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
  }
  .header-logo.menu-logo {
    position: absolute;
    top: -118px;
    left: 0px;
    z-index: 20;
  }
  .header-logo.menu-logo .header-logo-name, .header-logo.menu-logo .header-logo-description {
    color: #ffffff;
  }
  .header-logo-main {
    margin-bottom: 5px;
  }
  .header-logo-name {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .header-logo-fire {
    width: 22px;
    height: 30px;
  }
  .header-logo-first {
    width: auto;
  }
  .header-logo-second {
    width: auto;
  }
  .header-logo-description {
    display: block;
    height: auto;
    width: auto;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
  }
  .header-navigation-page {
    font-size: 26px;
  }
  .header-menu-container {
    padding-top: 159px;
  }
  .header-menu-wrapper {
    position: relative;
    max-width: 688px;
    padding: 0;
  }
  .header-button {
    display: none;
  }
  .header-button.is-hidden {
    display: block;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .header-buttons {
    display: flex;
    align-items: center;
  }
  .header-menu-button {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .header {
    padding-top: 34px;
  }
  .header-logo {
    margin-right: 144px;
  }
  .header-menu-container {
    display: block;
    padding-top: 0px;
  }
  .header-menu-wrapper {
    display: flex;
    max-width: 1044px;
    padding: 0;
  }
  .header-menu-button {
    display: none;
  }
  .header-button {
    display: block;
    margin: 0;
    width: 336px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
  .header-button.is-hidden {
    display: none;
  }
  .header-navigation-list {
    display: flex;
    align-items: center;
    margin-right: 60px;
    margin-bottom: 0px;
  }
  .header-navigation-item {
    display: block;
  }
  .header-navigation-item:not(:last-child) {
    margin-right: 40px;
  }
  .header-navigation-page {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.03em;
    color: #b9b9b9;
  }
}
.hero-section {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("/header-mobile.c7edaba5.png"), url("/wave-mobile.3344deaa.png");
  background-repeat: no-repeat;
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  background-size: 208px 178px, 320px 665px;
  background-position: top 334px center, top -60px center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("/header-mobile@2x.fdee98ce.png"), url("/wave-mobile.3344deaa.png");
  }
}
.hero-container {
  position: relative;
  background: transparent;
  background-color: transparent;
}
.hero-title {
  display: block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #111518;
}
.hero-promise {
  display: block;
  max-width: 332px;
  margin-bottom: 30px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
}
.hero-promise-one {
  font-weight: 500;
  color: #b9b9b9;
}
.hero-promise-two {
  font-weight: bold;
  color: #111518;
}
.hero-promise-three {
  font-weight: bold;
  color: #ff6b09;
}
.hero-button {
  max-width: 260px;
  height: 48px;
  padding: 0 14px;
  color: #ffffff;
  background-color: #ff6b09;
  border: 2px solid #ff6b09;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .hero-button {
    margin: 0 10px 284px 10px;
  }
}
.hero-button:hover, .hero-button:focus {
  color: #ff6b09;
  background-color: inherit;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-picture {
  margin: 0 36px 77px 36px;
}
.hero-advantage-item {
  display: flex;
}
.hero-advantage-item:not(:last-child) {
  margin-bottom: 30px;
}
.hero-advantage-item p {
  display: block;
  width: 142px;
  height: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
  color: #111518;
}
.hero-advantage-picture {
  display: block;
  margin-right: 15px;
  width: 59px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 70px;
    background-image: url("/header-tablet.848cf12e.png"), url("/wave-tablet.8586a4cb.png");
    background-size: 376px 322px, 768px 605px;
    background-position: left calc(50% + 188px) top 84px, top -82px center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("/header-tablet@2x.916484a0.png"), url("/wave-tablet.8586a4cb.png");
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 316px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 768px) {
  .hero-promise {
    max-width: 308px;
  }
}
@media screen and (min-width: 768px) {
  .hero-button {
    margin: 0 0 142px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-picture {
    display: none;
    position: absolute;
    top: 177px;
    left: 332px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-advantage-list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .hero-advantage-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .hero-advantage-picture {
    display: block;
    margin-right: 15px;
    width: 59px;
    height: 60px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-section {
    padding-top: 125px;
    padding-bottom: 130px;
    background-image: url("/header-desktop.0f58ebe8.png"), url("/wave-desktop.658989a2.png");
    background-size: 843px 720px, 1688px 912px;
    background-position: top 46px left calc(50% + 376px), top -85px center;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi), screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("/header-desktop@2x.ec42d0af.png"), url("/wave-desktop.658989a2.png");
  }
}
@media screen and (min-width: 1344px) {
  .hero-title {
    margin-bottom: 24px;
    width: 642px;
    font-size: 58px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-promise {
    max-width: 537px;
    margin-bottom: 40px;
    font-style: normal;
    font-size: 20px;
    line-height: 1.649;
  }
  .hero-promise-one {
    font-weight: 500;
    color: #b9b9b9;
  }
  .hero-promise-two {
    font-weight: bold;
    color: #111518;
  }
  .hero-promise-three {
    font-weight: bold;
    color: #ff6b09;
  }
}
@media screen and (min-width: 1344px) {
  .hero-button {
    max-width: 354px;
    height: 70px;
    padding: 0 25px;
    margin: 0 0 241px 0;
    font-size: 14px;
    line-height: 1.215;
    letter-spacing: 0.14em;
  }
}
@media screen and (min-width: 1344px) {
  .hero-advantage-list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1344px) {
  .hero-advantage-item {
    display: flex;
    align-items: center;
  }
  .hero-advantage-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .hero-advantage-item p {
    width: 366px;
    height: 66px;
    font-size: 20px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    color: #111518;
  }
}
@media screen and (min-width: 1344px) {
  .hero-advantage-picture {
    display: block;
    margin-right: -18px;
    width: 100px;
    height: 102px;
  }
}
.main-issues {
  position: relative;
  background-color: #111518;
  padding-top: 50px;
  padding-bottom: 367px;
}

.main-issues-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.main-issues-title-wort {
  color: #ff6b09;
}

.main-issues-list {
  position: absolute;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 14px;
  top: 38%;
  left: 50%;
  width: 280px;
  height: 488px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  transform: translateX(-50%);
}

.main-issues-list-item {
  margin-left: 20px;
}

.main-issues-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
}

.main-issues-subtitle::before {
  content: "";
  background-color: #ff6b09;
  margin-right: 9px;
  height: 2px;
  width: 20px;
}

.main-issues-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .main-issues {
    padding-top: 60px;
    padding-bottom: 176px;
  }

  .main-issues-title {
    font-size: 26px;
    line-height: 1.3;
  }

  .main-issues-list {
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    height: 303px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 76px;
    padding-right: 47px;
    top: 55%;
  }

  .main-issues-list-item {
    flex-basis: calc(100% / 2 - 20px);
  }
}
@media screen and (min-width: 1344px) {
  .main-issues {
    padding-top: 100px;
    padding-bottom: 280px;
  }

  .fire-big {
    background-image: url(/fire-big.88c09a09.svg);
    background-repeat: no-repeat;
    background-position: 1280px 88px;
  }

  .main-issues-list {
    padding-top: 70px;
    padding-bottom: 62px;
    padding-left: 114px;
    padding-right: 112px;
    width: 1314px;
    height: 362px;
    top: 65%;
  }

  .main-issues-title {
    font-size: 46px;
  }

  .main-issues-list-item {
    flex-basis: calc(100% / 3 - 20px);
  }

  .main-issues-subtitle {
    font-size: 20px;
    line-height: 1.65;
  }

  .main-issues-description {
    font-size: 20px;
    line-height: 1.4;
  }
}
.methods {
  padding-bottom: 50px;
  padding-top: 198px;
}

.methods-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}

.methods-list-item {
  background-color: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  width: 280px;
  height: 280px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.methods-list-item:hover, .methods-list-item:focus {
  background-color: #ff6b09;
}
.methods-list-item:hover .methods-subtitle, .methods-list-item:focus .methods-subtitle {
  color: #ffffff;
}
.methods-list-item:hover .methods-hyphen, .methods-list-item:focus .methods-hyphen {
  color: #ffffff;
}
.methods-list-item:hover .methods-description, .methods-list-item:focus .methods-description {
  color: #ffffff;
}
.methods-list-item:hover .methods-list-icon, .methods-list-item:focus .methods-list-icon {
  fill: #ffffff;
}

.methods-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.methods-list-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: #ff6b09;
}

.methods-hyphen {
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.methods-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 20px;
}

.methods-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

@media screen and (min-width: 768px) {
  .methods-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -27px;
  }

  .methods-list-item {
    flex-basis: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-top: 27px;
    width: 334px;
    height: 334px;
  }

  .methods-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .methods-list-item {
    flex-basis: calc(100% / 3 - 20px);
    width: 425px;
    height: 396px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .methods-title {
    font-size: 46px;
    line-height: 1.3;
    text-align: left;
    margin-top: 50px;
  }

  .methods-subtitle {
    font-size: 20px;
    line-height: 1.4;
  }

  .methods-description {
    font-size: 18px;
    line-height: 1.56;
  }
}
.program-section {
  position: relative;
  background-color: #111518;
  padding-top: 38px;
  padding-bottom: 550px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .program-section {
    padding-top: 40px;
    padding-bottom: 412px;
  }
}
@media screen and (min-width: 1344px) {
  .program-section {
    overflow: hidden;
    position: relative;
    padding-top: 120px;
    padding-bottom: 363px;
  }
}

.program-section::after {
  content: "";
  display: block;
  position: absolute;
  top: 1335px;
  right: 0;
  width: 121px;
  height: 137px;
  background-image: url(/program-mobile.d5ff7f54.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .program-section::after {
    background-image: url(/program-mobile@2x.363cd6de.png);
  }
}
@media screen and (min-width: 768px) {
  .program-section::after {
    top: 775px;
    width: 384px;
    height: 280px;
    background-image: url(/program-tablet.88a5f6ea.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .program-section::after {
    background-image: url(/program-tablet@2x.9461b0c3.png);
  }
}
@media screen and (min-width: 1344px) {
  .program-section::after {
    left: 0;
    top: 660px;
    transform: translateX(-24%);
    width: 660px;
    height: 502px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1344px), screen and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-resolution: 2dppx) and (min-width: 1344px) {
  .program-section::after {
    background-image: url(/program-desktop@2x.d18d463a.png);
  }
}

.program-section-title {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .program-section-title {
    font-size: 26px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1344px) {
  .program-section-title {
    font-size: 46px;
    margin-bottom: 100px;
  }
}

.program-list {
  position: relative;
  padding-left: 26px;
}
@media screen and (max-width: 767px) {
  .program-list {
    margin-left: 74px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .program-list {
    margin-left: 63px;
    padding-left: 55px;
  }
}
@media screen and (min-width: 1344px) {
  .program-list {
    position: static;
    padding-left: 0;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1344px) {
  .program-list > .item {
    margin: 15px;
    width: calc((100% - 10 * 15px) / 5);
  }
}
.program-list > .item:not(:last-child) {
  margin-bottom: 40px;
}

.sub-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1344px) {
  .sub-item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.program-list::before {
  content: "";
  position: absolute;
  display: block;
  height: 1170px;
  height: 92%;
  width: 2px;
  left: 0;
  top: 12px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .program-list::before {
    height: 683px;
  }
}
@media screen and (min-width: 1344px) {
  .program-list::before {
    height: 2px;
    width: 100%;
    top: 277px;
  }
}

.program-title {
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media screen and (min-width: 1344px) {
  .program-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1344px) {
  .program-title::first-letter {
    font-size: 30px;
    line-height: 0.93;
  }
}
.program-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -31px;
  height: 12px;
  width: 12px;
  background-color: #ff6b09;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .program-title::before {
    left: -60px;
  }
}
@media screen and (min-width: 1344px) {
  .program-title::before {
    top: -47px;
    left: 0px;
    height: 17px;
    width: 17px;
  }
}

.objects-title {
  position: relative;
  color: #ff6b09;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  padding-left: 18px;
}
@media screen and (min-width: 1344px) {
  .objects-title {
    font-size: 20px;
    line-height: 1.64;
    padding-left: 30px;
  }
}

.objects-title::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff6b09;
  margin-right: 5px;
  height: 1px;
  width: 12px;
}
@media screen and (min-width: 1344px) {
  .objects-title::before {
    height: 2px;
    width: 20px;
  }
}

.objects-item {
  color: #b9b9b9;
  opacity: 0.5;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1344px) {
  .objects-item {
    font-size: 18px;
    line-height: 1.55;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .sub-list {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
  }

  .sub-item {
    margin: 25px;
    width: calc((100% - 6 * 25px) / 3);
  }
}
.features_title {
  position: absolute;
  top: -450px;
  left: 50%;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  transform: translateX(-50%);
}
@media screen and (max-width: 320px) {
  .features_title {
    width: 180px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 768px) {
  .features_title {
    top: -190px;
    left: 50%;
  }
}

.features__list-wrapper {
  position: absolute;
  top: -370px;
  left: 50%;
  width: 236px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 14px;
  margin-bottom: 39px;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .features__list-wrapper {
    top: -130px;
    left: 50%;
  }
}
@media screen and (min-width: 1344px) {
  .features__list-wrapper {
    top: -186px;
    left: 50%;
  }
}

.features-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 20px;
}

.features_subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
}
@media screen and (min-width: 1344px) {
  .features_subtitle {
    padding-left: 30px;
  }
}

.features_subtitle:before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  top: 50%;
  width: 12px;
  height: 1px;
  background: #ff6b09;
  transform: translateY(-50%);
}
@media screen and (min-width: 1344px) {
  .features_subtitle:before {
    left: 0;
    width: 20px;
  }
}

@media screen and (min-width: 768px) {
  .features_title {
    font-size: 26px;
    line-height: 1.307;
    text-align: center;
  }

  .features__list-wrapper {
    width: 688px;
    height: 394px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 98px;
    padding-right: 118px;
    margin-bottom: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features_list_item {
    flex-basis: calc(100% / 2);
  }
}
@media screen and (min-width: 1344px) {
  .features_title {
    display: none;
  }

  .features__list-wrapper {
    width: 1314px;
    height: 398px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 84px;
    padding-right: 82px;
    margin-bottom: 130px;
  }

  .features__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .features_list_item {
    flex-basis: calc((100% - 6 * 20px) / 3);
    margin: 20px;
  }
}
.features {
  position: relative;
}

.teachers {
  padding-top: 270px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .teachers {
    padding-top: 302px;
  }
}
@media screen and (min-width: 1344px) {
  .teachers {
    padding-top: 329px;
    padding-bottom: 130 px;
  }
}

.teachers_title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 20px;
}

.teachers_text_item {
  margin-bottom: 10px;
}

.teachers_name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b9b9b9;
}
@media screen and (min-width: 768px) {
  .teachers_name {
    margin-top: 0;
  }
}

.teachers_expirience_list {
  position: relative;
  margin-bottom: 50px;
}

.teachers_expirience_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: #111518;
}

.teachers-list__marker {
  margin-right: 5px;
  max-width: 17px;
  height: 14px;
}

.teachers_expirience_item {
  margin-bottom: 10px;
  display: flex;
}

.teachers_text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
  margin-bottom: 10px;
}

.teachers_text_item {
  padding-bottom: 10px;
}

.teachers_certificate_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67px;
  text-decoration-line: underline;
  color: #ff6b09;
}

.teachers_text:before {
  position: absolute;
  content: "";
  display: block;
  left: 0%;
  top: -5%;
  width: 15px;
  height: 1px;
  background: #ff6b09;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .teachers_container {
    display: flex;
  }

  .teachers_title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 30px;
  }

  .teachers_photo {
    display: block;
    width: 305px;
  }

  .teachers_expirience_item {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1344px) {
  .teachers_title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 50px;
  }

  .teachers_photo {
    display: block;
    width: 530px;
  }

  .teacher-information {
    padding-left: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-background {
    background-color: #f1f1f1;
  }

  .warranty-list-item {
    margin-left: 20px;
  }
  .warranty-list-item::before {
    content: "";
    position: absolute;
    display: block;
    margin-right: 20px;
    width: 14.67px;
    height: 20px;
    background-image: url(/fire_mt.b0670e8b.svg);
    transform: translateX(-34px);
  }

  .warranty-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    margin-right: 20px;
    width: 1px;
    height: 68px;
    background-image: url(/vector_m.8eb3961b.svg);
    transform: translate(-27px, -52px);
  }

  .warranty-text {
    width: 245px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .warranty-list-item {
    margin-left: 24px;
  }
  .warranty-list-item::before {
    content: "";
    position: absolute;
    display: block;
    margin-right: 20px;
    width: 14.67px;
    height: 20px;
    background-image: url(/fire_mt.b0670e8b.svg);
    transform: translateX(-34px);
  }

  .warranty-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    margin-right: 20px;
    width: 1px;
    height: 30px;
    background-image: url(/vector_t.40f29d14.svg);
    transform: translate(-27px, -14px);
  }

  .warranty-text {
    width: 520px;
  }
}
@media screen and (min-width: 320px) {
  .warranty-header {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 30px;
  }

  .warranty-list {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .warranty-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .priority-text {
    color: #ff6b09;
  }

  .warranty-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .warranty-list {
    background-color: #f1f1f1;
    padding-left: 80px;
    padding-right: 50px;
  }

  .warranty-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .warranty-header {
    font-size: 46px;
    margin-bottom: 50px;
  }

  .warranty-list {
    background-color: #f1f1f1;
    padding-left: 112px;
    padding-right: 112px;
    padding-bottom: 46px;
    padding-top: 50px;
  }

  .warranty-text {
    width: 1038px;
    font-size: 20px;
    line-height: 28px;
  }

  .warranty-list-item {
    margin-left: 30px;
  }
  .warranty-list-item::before {
    content: "";
    position: absolute;
    display: block;
    margin-right: 20px;
    width: 22px;
    height: 30px;
    background-image: url(/fire.4fc00094.svg);
    transform: translateX(-54px);
  }

  .warranty-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    margin-right: 20px;
    width: 1px;
    height: 40px;
    background-image: url(/vector_l.c7acd214.svg);
    transform: translate(-43px, -23px);
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .customers-list-tablet-desktop {
    display: none;
  }

  .main-image-tablet {
    display: none;
  }

  .customers-list-mob {
    position: relative;
  }
}
@media screen and (min-width: 320px) {
  .reviews {
    padding-top: 50px;
  }

  .reviews-header {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 20px;
  }

  .main-image-mob {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .vk-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .reviews-accent-block {
    position: relative;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 564px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  .reviews-accent-block::before {
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    transform: translateY(56px);
    position: absolute;
    width: 28px;
    height: 16px;
    background-image: url(/arrow1.05b6e123.svg);
  }
  .reviews-accent-block ::after {
    content: "";
    display: block;
    right: 0;
    bottom: 0;
    transform: translateY(56px);
    position: absolute;
    width: 28px;
    height: 16px;
    background-image: url(/arrow2.6b6b686d.svg);
  }

  .customer-name {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-bottom: 10px;
  }

  .customer-education {
    width: 240px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #b9b9b9;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .review-text {
    width: 240px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #111518;
    margin-left: auto;
    margin-right: auto;
  }

  .read-next {
    color: #ff6b09;
    text-decoration: underline;
  }

  .customers-list-mob {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .customers-list-item-mob:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .main-image-mob {
    display: none;
  }

  .main-image-tablet {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .reviews-header {
    font-size: 26px;
  }

  .reviews-accent-block {
    position: relative;
    margin-bottom: 30px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 688px;
    height: 314px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
  .reviews-accent-block::before {
    content: "";
    display: block;
    left: -13px;
    top: 50%;
    transform: translateY(-150%);
    position: absolute;
    width: 28px;
    height: 16px;
    background-image: url(/arrow1.05b6e123.svg);
  }
  .reviews-accent-block ::after {
    content: "";
    display: block;
    right: -13px;
    top: 50%;
    transform: translateY(-150%);
    position: absolute;
    width: 28px;
    height: 16px;
    background-image: url(/arrow2.6b6b686d.svg);
  }

  .image-block {
    display: inline-block;
    width: 150px;
    margin-left: 40px;
  }

  .text-block {
    margin-left: 46px;
    display: inline-block;
  }

  .customer-name {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.08em;
    color: #ff6b09;
    margin-bottom: 10px;
  }

  .customer-education {
    width: 412px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    letter-spacing: 0.08em;
    color: #b9b9b9;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .review-text {
    width: 412px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #111518;
    margin-left: auto;
    margin-right: auto;
  }

  .customers-list-tablet-desktop {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .customers-list-tablet-desktop :not(:last-child) {
    margin-right: 30px;
  }

  .customers-list-mob {
    display: none;
  }
}
@media screen and (min-width: 1344px) {
  .reviews-header {
    font-size: 46px;
  }

  .reviews-accent-block {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
    height: 370px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }

  .customer-name {
    font-size: 30px;
    line-height: 37px;
  }

  .customer-education {
    width: 706px;
    font-size: 14px;
    line-height: 17px;
  }

  .review-text {
    width: 706px;
    font-size: 18px;
    line-height: 28px;
  }

  .image-block {
    width: 150px;
    margin-left: 82px;
  }

  .text-block {
    margin-left: 40px;
  }

  .reviews-accent-block {
    margin-bottom: 40px;
  }
  .reviews-accent-block::before {
    left: -88px;
  }
  .reviews-accent-block ::after {
    right: -88px;
  }
}
.form {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #111518;
  background-image: url("/registration-mobile-min.b686afbd.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 320px 507px;
  margin-left: auto;
  margin-right: auto;
}
.form-text {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 30px;
}
.form-text-color {
  color: #ff6b09;
}
.form-description {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  margin-bottom: 30px;
  padding-right: 38px;
  padding-left: 38px;
}

.form-input {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  width: 280px;
  height: 48px;
  background-color: transparent;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 28px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

input::placeholder {
  color: #ffffff;
}

.form-button {
  width: 260px;
  height: 48px;
  background: #ff6b09;
  border-radius: 1px solid;
  border-color: #ff6b09;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.form-button:hover, .form-button:focus {
  background: #ffffff;
  color: #ff6b09;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .form {
    background-image: url("/registration-mobile@2x.6fe657f4.png");
  }
}
@media screen and (min-width: 768px) {
  .form {
    padding-top: 50px;
    padding-bottom: 71px;
    background-color: #111518;
    background-image: url("/registration-tablet.0ccd3d2b.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px 520px;
  }
  .form-description {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 40px;
    padding-left: 125px;
    padding-right: 125px;
  }
  .form-text {
    font-size: 26px;
    line-height: 130%;
  }
  .form-input {
    font-size: 14px;
    line-height: 1.21;
    width: 390px;
    height: 48px;
    padding-top: 15px;
    padding-left: 28px;
    padding-bottom: 16px;
    margin-bottom: 20px;
  }
  .form-button {
    margin-top: 11px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .form {
    background-image: url("/registration-tablet@2x.fef46f56.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .form {
    background-size: cover;
  }
}
@media screen and (min-width: 1344px) {
  .form {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url("/registration-desktop.27991e3e.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .form-text {
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
  }
  .form-description {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 56px;
    padding-left: 195px;
    padding-right: 195px;
    text-align: center;
  }
  .form-input {
    font-size: 20px;
    line-height: 1.2;
    width: 478px;
    height: 70px;
    padding-top: 23px;
    padding-left: 40px;
    padding-bottom: 23px;
    margin-bottom: 30px;
  }
  .form-button {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    letter-spacing: 0.14em;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1380px), screen and (min-resolution: 192dpi) and (min-width: 1380px), screen and (min-resolution: 2dppx) and (min-width: 1380px) {
  .form {
    background-image: url("/registration-desktop@2x.0e48e4eb.png");
  }
}
.footer {
  text-align: center;
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
}
.footer-address {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.footer-logo-link {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.04em;
  color: #111518;
  align-items: baseline;
}
.footer-logo-right {
  margin-left: -4px;
}
.footer-logo-left {
  margin-right: -4px;
}
.footer-logo-translate {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 5px;
  line-height: 7px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #111518;
}
.footer-logo-text {
  color: #ff6b09;
}
.footer-logo-icon {
  width: 15px;
  height: 20px;
  position: relative;
  top: 3px;
}
.footer-icon-phone {
  width: 20px;
  height: 19px;
  margin-right: 10px;
  position: absolute;
  top: -2px;
  left: -30px;
  fill: #ff6b09;
}
.footer-icon-phone:hover, .footer-icon-phone:focus {
  cursor: pointer;
  color: #111518;
  fill: #111518;
}
.footer-contact-tel {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #111518;
  position: relative;
}
.footer-contact-tel:hover, .footer-contact-tel:focus {
  cursor: pointer;
  color: #ff6b09;
  fill: #ff6b09;
}
.footer-logo-container {
  display: flex;
  margin-top: 21px;
  margin-bottom: 31px;
  align-items: center;
  justify-content: center;
}
.footer-logo-container:hover, .footer-logo-container:focus {
  cursor: pointer;
  color: #ff6b09;
  fill: #ff6b09;
}
.footer-security {
  background-color: #111518;
  padding-top: 21px;
  padding-bottom: 21px;
}
.footer-security-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #b9b9b9;
}

img.footer-icon-instagram {
  display: inline;
}
img.footer-icon-instagram:hover, img.footer-icon-instagram:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-address {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    justify-content: center;
    height: 45px;
    position: absolute;
  }
  .footer-logo-container {
    height: 45px;
    margin-left: 365px;
    margin-bottom: 0px;
    align-items: center;
    margin-top: 0px;
  }

  .footer-logo-link {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }

  .footer-logo-translate {
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
  }

  .footer-logo-icon {
    width: 22px;
    height: 30px;
    position: relative;
    top: 5px;
  }

  .footer-icon-phone {
    width: 24px;
    height: 23px;
    margin-right: 10px;
    position: absolute;
    top: 1px;
    left: -34px;
  }

  .footer-contact-tel {
    font-size: 20px;
    line-height: 1.2;
    position: relative;
  }

  .footer-instagram {
    border-left: 1px solid #b9b9b9;
    padding-left: 24px;
  }

  .footer-icon-instagram {
    padding-top: 3px;
  }

  .footer-security {
    text-align: start;
  }

  .footer-logo-right {
    margin-left: -5px;
  }

  .footer-logo-left {
    margin-right: -5px;
  }
}
@media screen and (min-width: 1344px) {
  .footer-address {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .footer-contact-tel {
    font-size: 30px;
    line-height: 1.23;
    position: relative;
  }

  .footer-icon-phone {
    width: 30px;
    height: 29px;
    top: 4px;
    left: -43px;
  }

  .footer-instagram {
    margin-right: 410px;
  }

  .footer-icon-instagram {
    margin-bottom: -3px;
  }

  .footer-logo-container {
    margin-left: 460px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */